<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SKENSA_Tarkam.My.MySettings.SKENSAConnectionString"
            connectionString="Data Source=DESKTOP-H7C241G\SQLEXPRESS;Initial Catalog=SKENSA;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>